<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePrimaryIcon</key>
	<string>omgIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dev.icalvin.lol.app.url.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-omg-lol</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dev.icalvin.lol.app.url.deep</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lol</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>lolBackground</string>
		<key>UIImageName</key>
		<string>icon</string>
	</dict>
</dict>
</plist>
